.subtotal .currency,
.subtotal .currency	{ text-align:right; font-weight:bold; font-size:125%; padding-top:10px; padding-bottom:10px; }
.clickable { cursor:pointer; text-decoration:underline; }

.shopping-cart .subtotal 		{ font-size:16px; font-weight:900; }
.shopping-cart .subtotal td	{ vertical-align: middle; text-align:right; }

.centershop { padding: 0px; margin: 0px auto; position: relative; text-align: left; width: 750px !important; }

.banners { padding: 15px; }

TABLE.header { background-color: #ffffff; border-right: 1px solid #9a9a9a; border-left: 1px solid #9a9a9a; border-bottom: 1px solid #9a9a9a; }
TABLE.headerNavigation { background-color: #abbbd3; border-right: 1px solid #9a9a9a; border-left: 1px solid #9a9a9a; border-bottom: 1px solid #9a9a9a; width: 100% !important; }
TD.headerNavigation { position: relative; vertical-align: middle; font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold; color:#000000; letter-spacing:1px; padding: 5px; }

TD.breadCrumb { font-size: 10px; font-weight: bold; color: #9a9a9a; padding: 3px; }
TD.headerNavigation A, TD.headerNavigation A:visited, td.footertop a  { font-weight: bold; color: #ffffff; }
TD.headerNavigation A:hover, td.footertop a:hover  { color: #a8cfff; }
TR.headerError { background: #ff0000; }
TD.headerError { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: #ff0000; color: #ffffff; font-weight : bold; text-align : center; }
TR.headerInfo { background: #00ff00; }
TD.headerInfo { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: #00ff00; color: #ffffff; font-weight: bold; text-align: center; }

.column_left, .column_right, .column_single { background: #ffffff; padding: 2px; }

.boxText { font-size: 11px; line-height: 125%; }
.leftbox, .rightbox, .centerbox, .singlebox { font-family: Verdana, Arial, sans-serif; font-size: 11px; background: #ffffff; margin-bottom: 15px; }
.leftboxheading, .rightboxheading, .centerboxheading, .singleboxheading { font-weight: bold; padding: 3px; height: 20px; padding-left: 5px; }
td.leftboxheading a, td.rightboxheading a, td.centerboxheading a, td.singleboxheading a { color: #ffffff; }
.leftboxcontent, .rightboxcontent, .centerboxcontent, .singleboxcontent { line-height: 125%; padding: 4px; }
.leftboxfooter, .rightboxfooter, .centerboxfooter, .singleboxfooter { margin-bottom: 15px; }

.plainBox, .plainbox-description { font-family: Verdana, Arial, sans-serif; font-size: 11px; background: #ffffff; color: #000000; padding: 5px; }
.plainBoxHeading, TD.tableHeading { font-size: 12px; font-weight: bold; padding: 11px 5px 5px; }
.productListing-heading { font-weight: bold; padding: 3px; height: 20px; }

.shopping-cart .cart-item { padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #eeeeee; }

.center_column { padding: 8px; }
.main_page{ width: 750px !important; background-color: #ffffff; border-right: 1px solid #9a9a9a; border-left: 1px solid #9a9a9a; border-bottom: 1px solid #9a9a9a; padding: 5px; }

TABLE.footer { background: #ffffff; text-align: center; border-right: 1px solid #9a9a9a; border-left: 1px solid #9a9a9a; border-bottom: 1px solid #9a9a9a; }
TR.footertop { background: #abbbd3; }
TD.footertop, TD.footerbottom { padding: 5px; }

.box.addtocart { padding:10px 20px; margin:0; }

.cartBox .row { margin:0; }
.cartBox .formlabel { padding:0; width:auto; text-align:left; display:block; float:none; clear:both }
.cartBox .forminput { margin:0; padding:0; width:auto; display: block; float:none; }

TR.productListing-odd, TR.upcomingProducts-odd { background: #ffffff; }
TR.productListing-even, TR.upcomingProducts-even, .productsNotifications { background: #eff4f8; }
TD.productListing-data-description-odd { background: #ffffff; padding-left: 10px; padding-right: 10px; padding-bottom: 12px; border-bottom: 1px solid #9a9a9a; }
TD.productListing-data-description-even { background: #eff4f8; padding-left: 10px; padding-right: 10px; padding-bottom: 12px; border-bottom: 1px solid #9a9a9a; }

td.pageresults a { color: #428dff; }
td.pageresults a:hover { background: #FFFF33; }

SPAN.newItemInCart { color: #ff0000; font-weight: bold; }

TD.fieldKey { font-weight: bold; }

SPAN.markProductOutOfStock { color: #c76170; font: bold 12px Verdana, Arial, sans-serif; }
span.normalprice.discounted { text-decoration: line-through; }
SPAN.productSpecialPrice, SPAN.productSalePrice, .stockWarning, span.coming { color: #ff0000; }
span.productSpecialPriceSale { color: #ff0000; text-decoration: line-through; }
SPAN.productPriceDiscount, .inputRequirement { font-size: 10px; color: #FF0000; }
.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; }
.moduleRowSelected { background-color: #E9F4FC; }

.messageStackError, .messageStackWarning, errorBox { background-color: #ff0000; color: #ffffff; font-size: 10px; padding: 4px; border: 1px solid #9a9a9a; }
.messageStackSuccess { background-color: #b3ffa8; padding: 2px; border: 1px solid #9a9a9a; }
.messageStackCaution { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffff00; }

TD.ot-subtotal-Text, TD.ot-cod-fee-Text, TD.ot-total-Text, TD.ot-group-pricing-Text, TD.ot-gv-Text, TD.ot-loworderfee-Text, TD.ot-shipping-Text, TD.ot-subtotal-Text, TD.ot-tax-Text, TD.ot-coupon-Text { font-weight: bold; padding:5px; }
TD.ot-subtotal-Amount, TD.ot-cod-fee-Amount, TD.ot-total-Amount, TD.ot-group-pricing-Amount, TD.ot-gv-Amount, TD.ot-loworderfee-Amount, TD.ot-shipping-Amount, TD.ot-subtotal-Amount, TD.ot-tax-Amount, TD.ot-coupon-Amount { padding:5px; }

.ProductInfoComments, TD.ProductInfoComments, SPAN.ProductInfoComments { color: #ff0000; font-size: 10px; text-align : left; font-weight: bold; padding-top: 6px; padding-bottom: 6px; border-top: 1px solid #9a9a9a; }

TABLE.categoriesdescription { font-family: Verdana, Arial, sans-serif; font-size: 11px; background: #D0D0D0; border:1px solid #9a9a9a; }
TD.categoriesdescription { font-size: 11px; line-height: 1.0; }

A.category-top, A.category-links { color: #428dff; text-decoration: none; }
A.category-subs, A.category-products { color: #428dff; text-decoration: none; }
SPAN.category-subs-parent { font-weight: bold; }
SPAN.category-subs-selected { font-weight: bold; }

ul.breadcrumbs, 
ul.breadcrumbs li { list-style-type:none; padding:0; margin:0;background:white; }
ul.breadcrumbs { border:1px solid #dedede; height:2.3em; width:auto; float:left; }
ul.breadcrumbs li { float:left; line-height:2.3em; padding-left:.75em; color:#777; }
ul.breadcrumbs li span,
ul.breadcrumbs li a { text-decoration:none; display:block; padding:0 15px 0 0; color:#888; background:url('../images/breadcrumb_arrow.gif') no-repeat right center; } 
ul.breadcrumbs li:last-child a { background:none; } 
ul.breadcrumbs li a:link, #crumbs li a:visited { text-decoration:none; }
.commercebar { margin: 5px; overflow:hidden; clear:both; }
.commercebar .navbar { float:right; width:auto; padding:0; margin:0; clear:none; border:0; }

TABLE.products-attributes-images { float: left; padding: 2px; }

.specialprice { color: #f00; font-weight: bold; font-size: 1.2em; }
.price { font-weight: bold; font-size: 1.4em; text-decoration: none; }
.price a { color: #000; }
.model,
.creator { padding: 0 0 5px 0; }
.normalprice.discounted { color: #666; font-weight: normal; text-decoration: line-through; }

#bitcommerce .body .productinfo .header { padding: 9px; text-align: center; }

#bitcommerce .productinfo .thumbnail { padding: 5px; } ul.products { margin:0; }
ul.data.products li.item	{ padding: 10px 0 10px 0; }
ul.products li .image { width:180px; }
ul.products li .thumb { padding-right:20px; }

.row.ot_total	{ padding-bottom:20px; border-top:1px solid #dddddd; }

#shippingquotes img.shipper-logo {max-height:90px;}

/*Checkout CSS Bar*/
textarea.special-instructions	{background-color: #fcf8e3;}
textarea.special-instructions:placeholder-shown {background-color: #fff;}
.checkout-progressbar li h2.side-style-layout	{font-size:1.05em; margin-bottom: 0;}
.checkout-progressbar li div.help	{font-size: .7em;}
.checkout-progressbar	{ counter-reset: step; padding-left: 0; margin-left: 0;}
.checkout-progressbar li	{ list-style-type: none; float:left; width:33.3%; position: relative; text-align: center;font-size:1.25em;}
.checkout-progressbar li:before	{ content: counter(step); counter-increment: step; width: 55px; height: 55px; line-height: 50px; border: 3px solid #ddd; display:block; margin: 0 auto 0 auto; border-radius: 50%; background-color: white;}
.checkout-progressbar .icon-chevron-right	{display:none;}
.checkout-progressbar .icon-chevron-right.active	{color: #199DD6;}
.checkout-progressbar .icon-chevron-right.inactive	{color: #bbbbbb;}
.checkout-progressbar li:first-child:after	{content: none}
.checkout-progressbar li.active	{color: #17516b; font-weight: bold;}
.checkout-progressbar li.active:before	{border-color: #199DD6; background-color: #CBECFA }
.checkout-progressbar.pdf-upload-bar{margin:2em auto 2em auto;}
.checkout-progressbar li.active + li:after	{background-color: #199DD6 }
@media only screen and (min-width: 767px)	{
.checkout-progressbar.pdf-upload-bar li:before	{margin: 0 10px 0 10px;}
.checkout-progressbar .icon-chevron-right	{display: block; position: absolute;top: 10px;left: 30px;}
.checkout-progressbar.pdf-upload-bar .icon-chevron-right	{left:-35px;}
.checkout-progressbar li p.side-style-layout	{position: absolute;top: 15px;left: 68%;}
.checkout-progressbar li h2.side-style-layout	{position: absolute;top: -24px;left: 30%;font-size:1.5em;}
.checkout-progressbar li div.help	{position: absolute;top: 35px;left: 30%; font-size:.7em;}
.checkout-progressbar.pdf-upload-bar li	{width: 33.33%;}
.checkout-progressbar.pdf-upload-bar .icon-chevron-right	{left:-35px;}
.checkout-progressbar li	{width:29.5%;}
}
@media only screen and (min-width: 991px)	{
.checkout-progressbar.pdf-upload-bar{margin:1em auto 1em auto;}
}
@media only screen and (min-width: 991px)	{
.checkout-progressbar.pdf-upload-bar{margin:1em auto 1em auto;}
.checkout-progressbar li p.side-style-layout	{left: 62%;}
.checkout-progressbar.pdf-upload-bar .icon-chevron-right	{left:-55px;}
.checkout-progressbar .icon-chevron-right	{left: 18px;}
.checkout-progressbar li h2.side-style-layout,
.checkout-progressbar li div.help	{left:26%;}
}
@media only screen and (min-width: 1200px)	{
.checkout-progressbar li h2.side-style-layout	{font-size: 1.8em;top: -27px;}
.checkout-progressbar li div.help	{font-size:.85em;}
.checkout-progressbar li h2.side-style-layout,
.checkout-progressbar li div.help	{left:22%;}
.checkout-progressbar.pdf-upload-bar .icon-chevron-right	{left:-85px;}
}
.shopping-cart .cart-item {border-bottom:1px solid #eeeeee; }
.shopping-cart .cart-item .cartproductname {font-weight:bold;font-size:1.25em; }
.checkout-individual-item img {box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); max-height:250px; margin-bottom: 1em;}

/*Checkout CSS END*/
