<IfModule mod_rewrite.c>
	RewriteEngine  on
    RewriteCond	%{SCRIPT_FILENAME}  -f [OR]
    RewriteCond	%{SCRIPT_FILENAME}/index.php    -f
    RewriteRule	^(.*)$            - [L]

	RewriteRule ^([0-9]*)$  index.php?products_id=$1  [L,QSA]
	RewriteRule ^([0-9]*)\-(.*)$  index.php?products_id=$1  [L,QSA]
	RewriteRule ^([0-9]*)/([0-9]*)$  index.php?products_id=$1&cPath=1  [L]
	RewriteRule ^([0-9]*)$  index.php?products_id=$1  [L,QSA]

    RewriteRule ^([a-z_]*)$		index.php?main_page=$1  [L,QSA]
</IfModule>
